
<div class="container-fluid">
  <div class="row-fluid">
    <!-- Side Navigation -->
    <div class="span2">
      <div class="member-box round-all">
        <a><img src="images/member_ph.png" class="member-box-avatar" /></a>
        <span>
            <strong>Administrator</strong><br/>
            <a>John Doe</a><br/>
            <span class="member-box-links"><a>Settings</a> | <a>Logout</a></span>
        </span>
      </div>
      <div class="sidebar-nav">
      	<div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Main</li>
          <li><a href="index-2.html"><i class="icon-home"></i> Dashboard</a></li>
          <li><a href="blogpost.html"><i class="icon-edit"></i> Add Blog Post</a></li>
          <li><a href="members.html"><i class="icon-user"></i> Members</a></li>
          <li><a href="comments.html"><i class="icon-comment"></i> Comments</a></li>
          <li class="active"><a href="gallery.html"><i class="icon-picture"></i> Gallery</a></li>
          <li><a href="calendar.html"><i class="icon-calendar"></i> Calendar</a></li>
          <li class="nav-header">Typography</li>
          <li><a href="typography.html"><i class="icon-font"></i> Typography</a></li>
          <li><a href="grid.html"><i class="icon-th-large"></i> Grid</a></li>
          <li><a href="portlets.html"><i class="icon-th"></i> Portlets</a></li>
          <li><a href="forms.html"><i class="icon-th"></i> Forms</a></li>
          <li><a href="tables.html"><i class="icon-align-justify"></i> Tables</a></li>
          <li><a href="other.html"><i class="icon-gift"></i> Other</a></li>
          <li class="nav-header">Cookies</li>
          <li><a class="cookie-delete" href="#"><i class="icon-wrench"></i> Delete Cookies</a></li>
          <li><a class="sidenav-style-1" href="#"><i class="icon-align-left"></i> Side Menu Style 1</a></li>
          <li><a class="sidenav-style-2" href="#"><i class="icon-align-right"></i> Side Menu Style 2</a></li>
          <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
        </ul>
        </div>
      </div><!--/.well -->
    </div><!--/span-->

    <!-- Bread Crumb Navigation -->
	<div class="span10">
      <div>
        <ul class="breadcrumb">
          <li>
            <a href="index-2.html">Dashboard</a> <span class="divider">/</span>
          </li>
          <li>
            <a href="#">Blog</a> <span class="divider">/</span>
          </li>
          <li class="active">Gallery</li>
        </ul>
      </div>

 	<div class="row-fluid">
      	 <!-- Portlet Set 1 -->
         <div class="span12">
         	 <!-- Portlet: Fancy Portlets -->
             <div class="box">
              <h4 class="box-header round-top">Event Calendar
                  <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                  <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                  <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
              </h4>
              <div class="box-container-toggle">
                  <div class="box-content">
					<header>
                      <h1>Image Gallery</h1>

                      <blockquote>
                          <p>It features mouse and keyboard navigation, transition effects, fullscreen mode and slideshow functionality.</p>
                      </blockquote>
                      <p>
                          <button id="start-slideshow" class="ui-button-success btn btn-large btn-success" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">Start Slideshow</button>
                          <button id="toggle-fullscreen" class="ui-button-primary btn btn-large btn-primary" data-toggle="button">Toggle Fullscreen</button>
                      </p>
                  </header>
                  <hr>
                  <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
                      <!-- put images here -->
                      <a href="images/gallery/flowers/adfish_rose.jpg" title="Rose" rel="gallery"><img src="images/gallery/flowers/adfish_rose_thumb.jpg"></a>
                      <a href="images/gallery/flowers/adfish_tulips.jpg" title="Tulips" rel="gallery"><img src="images/gallery/flowers/adfish_tulips_thumb.jpg"></a>
                      <a href="images/gallery/flowers/madness_flower1.jpg" title="Flower" rel="gallery"><img src="images/gallery/flowers/madness_flower1_thumb.jpg"></a>
                      <a href="images/gallery/flowers/madness_flower2.jpg" title="Rose" rel="gallery"><img src="images/gallery/flowers/madness_flower2_thumb.jpg"></a>
                      <a href="images/gallery/flowers/random_violet.jpg" title="Tulips" rel="gallery"><img src="images/gallery/flowers/random_violet_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_bee.jpg" title="Flower" rel="gallery"><img src="images/gallery/flowers/scottwills_bee_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_makeawish.jpg" title="Rose" rel="gallery"><img src="images/gallery/flowers/scottwills_makeawish_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_plant.jpg" title="Tulips" rel="gallery"><img src="images/gallery/flowers/scottwills_plant_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_redflower.jpg" title="Flower" rel="gallery"><img src="images/gallery/flowers/scottwills_redflower_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_redrose.jpg" title="Rose" rel="gallery"><img src="images/gallery/flowers/scottwills_redrose_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_whiteflower.jpg" title="Tulips" rel="gallery"><img src="images/gallery/flowers/scottwills_whiteflower_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_whiteflower2.jpg" title="Flower" rel="gallery"><img src="images/gallery/flowers/scottwills_whiteflower2_thumb.jpg"></a>
                      <a href="images/gallery/flowers/scottwills_whiteflowers.jpg" title="Flower" rel="gallery"><img src="images/gallery/flowers/scottwills_whiteflowers_thumb.jpg"></a>

                      <a href="images/gallery/holiday_wm/adfish_beachchair1.jpg" title="Beach Chair" rel="gallery"><img src="images/gallery/holiday_wm/adfish_beachchair1_thumb.jpg"></a>
                      <a href="images/gallery/holiday_wm/adfish_beachchair2.jpg" title="Beach Chair" rel="gallery"><img src="images/gallery/holiday_wm/adfish_beachchair2_thumb.jpg"></a>
                      <a href="images/gallery/holiday_wm/adfish_bluesky.jpg" title="Blue Sky" rel="gallery"><img src="images/gallery/holiday_wm/adfish_bluesky_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/cyan_hawksburyriver.html" title="HawksburyRiver" rel="gallery"><img src="images/gallery/holiday_wm/cyan_hawksburyriver_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/cyan_river2.html" title="River" rel="gallery"><img src="images/gallery/holiday_wm/cyan_river2_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/madness_beach.html" title="Beach" rel="gallery"><img src="images/gallery/holiday_wm/madness_beach_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/madness_boat.html" title="Boat" rel="gallery"><img src="images/gallery/holiday_wm/madness_boat_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/scottwills_sunset1.html" title="Sunset" rel="gallery"><img src="images/gallery/holiday_wm/scottwills_sunset1_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/scottwills_sunset2.html" title="Sunset" rel="gallery"><img src="images/gallery/holiday_wm/scottwills_sunset2_thumb.html"></a>
                      <a href="images/gallery/holiday_wm/scottwills_sandcastle.html" title="Sand Castle" rel="gallery"><img src="images/gallery/holiday_wm/scottwills_sandcastle_thumb.html"></a>
                  </div>
                  <hr>
                  <br>

                  <!-- modal-gallery is the modal dialog used for the image gallery -->
                  <div id="modal-gallery" class="modal modal-gallery hide fade">
                      <div class="modal-header">
                          <a class="close" data-dismiss="modal">&times;</a>
                          <h3 class="modal-title"></h3>
                      </div>
                      <div class="modal-body"><div class="modal-image"></div></div>
                      <div class="modal-footer">
                          <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
                          <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>

                          <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
                          <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>

                          <a class="btn btn-warning modal-prev pull-left"><i class="icon-edit icon-white"></i> Edit</a>
                          <a class="btn btn-danger modal-prev pull-left"><i class="icon-trash icon-white"></i> Delete</a>
                      </div>
                  </div>
              </div>
            </div><!--/span-->
         </div>
         <!-- Portlet Set 3 -->

    </div><!--/span-->
  </div><!--/row-->

  <footer>
    <p class="pull-right">&copy; Simplenso 2012</p>
  </footer>
    <div id="box-config-modal" class="modal hide fade in" style="display: none;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Adjust widget</h3>
      </div>
      <div class="modal-body">
        <p>This part can be customized to set box content specifix settings!</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Save Changes</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      </div>
    </div>
</div><!--/.fluid-container-->
	<!-- javascript Templates
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Google API -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Data Tables -->
    <script src="scripts/DataTables/media/js/jquery.dataTables.js"></script>

    <!-- jQuery UI Sortable -->
    <script src="scripts/jquery-ui/ui/minified/jquery.ui.core.min.js"></script>
	<script src="scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js"></script>
	<script src="scripts/jquery-ui/ui/minified/jquery.ui.mouse.min.js"></script>
	<script src="scripts/jquery-ui/ui/minified/jquery.ui.sortable.min.js"></script>
    <script src="scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js"></script>

    <!-- jQuery UI Draggable & droppable -->
    <script src="scripts/jquery-ui/ui/minified/jquery.ui.draggable.min.js"></script>
    <script src="scripts/jquery-ui/ui/minified/jquery.ui.droppable.min.js"></script>

    <!-- Bootstrap -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/bootbox/bootbox.min.js"></script>

	<!-- Bootstrap Date Picker -->
    <script src="scripts/datepicker/js/bootstrap-datepicker.js"></script>


    <!-- jQuery Cookie -->
    <script src="scripts/jquery.cookie/jquery.cookie.js"></script>

    <!-- Full Calender -->
    <script type='text/javascript' src='scripts/fullcalendar/fullcalendar/fullcalendar.min.js'></script>

    <!-- CK Editor -->
	<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>

    <!-- Chosen multiselect -->
    <script type="text/javascript" language="javascript" src="scripts/chosen/chosen/chosen.jquery.min.js"></script>

    <!-- Uniform -->
    <script type="text/javascript" language="javascript" src="scripts/uniform/jquery.uniform.min.js"></script>

    <!-- MultiFile Upload -->
    <!-- Error messages for the upload/download templates -->
	<script>
    var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
    };
    </script>
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name">{%=file.name%}</td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            {% if (file.error) { %}
                <td class="error" colspan="2"><span class="badge badge-important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i> Start
                    </button>
                {% } %}</td>
            {% } else { %}
                <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i> Cancel
                </button>
            {% } %}</td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
                <td></td>
                <td class="name">{%=file.name%}</td>
                <td class="size">{%=o.formatFileSize(file.size)%}</td>
                <td class="error" colspan="2"><span class="badge badge-important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else { %}
                <td class="preview">{% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
                {% } %}</td>
                <td class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
                </td>
                <td class="size">{%=o.formatFileSize(file.size)%}</td>
                <td colspan="2"></td>
            {% } %}
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="icon-trash icon-white"></i> Delete
                </button>
                <input type="checkbox" name="delete" value="1">
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
    <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="scripts/blueimp-jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
	<script src="scripts/blueimp-jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload image processing plugin -->
    <script src="scripts/blueimp-jQuery-File-Upload/js/jquery.fileupload-ip.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="scripts/blueimp-jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="scripts/blueimp-jQuery-File-Upload/js/main.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
    <!--[if gte IE 8]><script src="scripts/blueimp-jQuery-File-Upload/js/cors/jquery.xdr-transport.js"></script><![endif]-->
    
    <!-- Simplenso Scripts -->
    <script src="scripts/simplenso/simplenso.js"></script>
  </body>

<!-- Mirrored from wbpreview.com/previews/WB00958H8/gallery.html by HTTrack Website Copier/3.x [XR&CO'2010], Sun, 28 Jul 2013 05:44:06 GMT -->
</html>
